{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container">
<div class="d-grid gap-2 col-6 mx-auto">
<div class="text-center">
    User : {{ app.session.get('userName') }} : {{ app.session.get('roleName') }}
</div>
    <a href="{{ path('app_home_index') }}" class="btn btn-primary">Data Produk</a>
    <a href="{{ path('app_home_index') }}" class="btn btn-primary">Transaksi Penjualan</a>
    <a href="{{ path('app_home_index') }}" class="btn btn-primary">Laporan</a>
    <a href="{{ path('app_staff_index') }}" class="btn btn-primary">Data Karyawan</a>
    <a href="{{ path('app_roles_index') }}" class="btn btn-primary">Data Roles</a>
    <a href="{{ path('app_logout_index') }}" class="btn btn-secondary">Sign Out</a>
</div>
</div>

{% endblock %}